<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Mes notes</h1>
    <% notes.forEach(note => { %>
        <div class="note">
            <h2><%= note.title %></h2>
            <p><%= note.context %></p>
        </div>
    <% }); %>
</body>
</html>