<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Rédiger une nouvelle note</h1>
    <form action="/note" method="post">
        <label for="title">Titre:</label>
        <input name="title" type="text" />
        <label for="content">Contenu:</label>
        <textarea id="content" name="content" rows="10" required></textarea>


        <button type="submit">Soumettre</button>
    </form>
</body>
</html>